
@{
    ViewBag.Title = "Index";
}



<div class="container-fluid">
    <h2 class="py-2">Welcome to KYP Center Management</h2>
    <div style="border:2px solid black">
        <img class="img-fluid blur" src="~/Images/CoverPhoto.PNG" alt="Chania" />
    </div>
    
</div>

    
